#nombre {
  margin: 0px;
  margin-top: 25px;
}

.caracteristicas {
  margin: 0px;
  margin-top: 10px;
}

.caracteristicas > p {
  padding: 5px;
}

#puesto {
    color: white;
    background-color: rgb(77, 228, 228);
    border-radius: 10px;
}

@media (max-width: 620px){
    
}
